<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Signup for an Account</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="form-container">
    <form action="signup" method="post">
      <h3>Sign-up Form</h3>
      <div class="form-group">
        <div class="input justify-center">
          <label for="">First Name</label>
            <input type="text" class="form-control" name="fname">
        </div>
        <div class="input justify-center">
            <label for="">Last Name</label>
            <input type="text" class="form-control" name="lname">
        </div>
        <div class="input justify-center">
            <label for="">Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="input justify-center">
            <label for="">Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="input justify-center">
            <label for="">Password</label>
            <input type="password" class="form-control" name="paswd">
        </div>
        <div class="input justify-center">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control">
        </div>

        <button>Sign-up</button>
    </form>
  </div>

  <script src="../static/js/script.js"></script>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
</body>

</html>