label {
    width:180px;
    clear:left;
    text-align:right;
}

.navbar {
  margin-bottom: 15px;
}

.navbar-toggler {
  margin: 10px;
}

.card center h1 {
  font-size: 3.2rem;
}

#logo {
  display: none;
}

.form-container button {
  margin: auto;
  display: block;
}
