<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Welcome to FireScrum</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<h2> What is FireScrum </h2>
<p> FireScrum is a collaboration tool where software development teams
  can plan, track, and manage their agile project. You may choose to
  customize your workflow, collaborate, and release great software using FireScrum.</p>

</body>

</html>
