{% extends "projectDash.html" %}
{%block body%}


<div id="containment-wrapper">
<table style="width:100%">
{%for story in proj['currentSprint']['TODO']%}
 <tr>

<th class="">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">{{story['Issue_Name']}}</span>
      <p>{{story['Description']}}</p><br/>
      <h1>{{story['time']}}</h1>
    </div>
    <div class="card-action">
  <a href="#">Send to BackLog</a>

      <a href="{{ url_for( 'projectcreateTask',
                  current_user=current_user,
                  projectName= proj['name'] ,
                  Issue_Name = story['Issue_Name'] ) }}">Add Task</a>
    </div>
  </div>
</th>


<th class="TODO col-md-3" style="background-color:RED;">
{% if story['Tasks']['TODO'] %}
{% for task in story['Tasks']['TODO']  %}

<div class="card blue-grey darken-1 draggable ui-widget-content">
  <div class="card-content white-text">
    <span class="card-title">{{task['Issue_Name']}}</span>
    <p>{{task['Description']}}</p><br/>
    <h1>{{task['time']}}</h1>
  </div>
  <div class="card-action">
    <!--      <a href="#">Send TO BackLog</a>
        <a href="#">Send To Next Sprint</a>-->
  </div>
</div>


{%endfor%}
{%endif%}
</th>
<th class="InProgress col-md-3" style="background-color:ORANGE;">
  {% if story['Tasks']['In_Progress'] %}
  {% for task in story['Tasks']['In_Progress']  %}

  <div class="card blue-grey darken-1 draggable ui-widget-content">
    <div class="card-content white-text">
      <span class="card-title">{{task['Issue_Name']}}</span>
      <p>{{task['Description']}}</p><br/>
      <h1>{{task['time']}}</h1>
    </div>
    <div class="card-action">
      <!--      <a href="#">Send TO BackLog</a>
          <a href="#">Send To Next Sprint</a>-->
    </div>
  </div>


  {%endfor%}
{%endif%}
</th>
<th class="DONE col-md-3" style="background-color:GREEN;">
  {% if story['Tasks']['Done'] %}
  {% for task in story['Tasks']['Done']  %}

  <div class="card blue-grey darken-1 draggable ui-widget-content">
    <div class="card-content white-text">
      <span class="card-title">{{task['Issue_Name']}}</span>
      <p>{{task['Description']}}</p><br/>
      <h1>{{task['time']}}</h1>
    </div>
    <div class="card-action">
  <!--      <a href="#">Send TO BackLog</a>
      <a href="#">Send To Next Sprint</a>-->
    </div>
  </div>


  {%endfor%}
{%endif%}
</th>
</div>
 </tr>
{%endfor%}

  </div>


{%endblock%}
