{% extends "projectDash.html" %}
{%block body%}


<div>

{%for story in proj['currentSprint']%}

<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Forecast</span>
      <p>{{story['Description']}}</p><br/>
      <h1>{{story['time']}}</h1>
    </div>
    <div class="card-action">
<!--      <a href="#">This is a link</a>
      <a href="#">This is a link</a>-->
    </div>
  </div>
</div>

  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">TO-DO</span>
        <p>{{story['Description']}}</p><br/>
        <h1>{{story['time']}}</h1>
      </div>
      <div class="card-action">
  <!--      <a href="#">This is a link</a>
        <a href="#">This is a link</a>-->
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">In Progress</span>
        <p>{{story['Description']}}</p><br/>
        <h1>{{story['time']}}</h1>
      </div>
      <div class="card-action">
  <!--      <a href="#">This is a link</a>
        <a href="#">This is a link</a>-->
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">QA/Testing</span>
        <p>{{story['Description']}}</p><br/>
        <h1>{{story['time']}}</h1>
      </div>
      <div class="card-action">
  <!--      <a href="#">This is a link</a>
        <a href="#">This is a link</a>-->
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Done!</span>
        <p>{{story['Description']}}</p><br/>
        <h1>{{story['time']}}</h1>
      </div>
      <div class="card-action">
  <!--      <a href="#">This is a link</a>
        <a href="#">This is a link</a>-->
      </div>
    </div>
  </div>
<div class="TODO"></div>
<div class="In Progress"></div>
<div class="DONE"></div>
</div>
{%endfor%}

  </div>


{%endblock%}
