
{% extends "baseTemp.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
<div class="col-md-4">
<center>
  <h1>Already a Member?</h1>

<form>
		<div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
					{{form.username}}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>


					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
					{{form.password}}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>
          <br>
          <br>
					<div class="container-login100-form-btn p-t-10">
						{{form.submit}}
					</div>

					<br>
					<br>
					<br>
					<div>
						<a href="about" class="txt1">
							About FireScrum
						</a>
					</div>

          <br>
					<div class="text-center w-full p-t-25 p-b-230">
						<a href="signUp" class="txt1">
							Not registered? Create a new account
						</a>
					</div>

				</form>
				</center>
			</div>



<div class="col-md-8">
	<img src="../static/img/fire-med.png" style="height:80vh;"/>
</div>
</div></div>
{% endblock %}
