<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Icon -->
    <link rel="icon" href="{{ url_for('static', filename='img/fire.ico') }}">

  </head>
  <body>

      <!-- notice the data-mdc-auto-init attribute;  this value is used by the autoinit script -->
      <aside class="mdc-drawer mdc-drawer--modal" data-mdc-auto-init="MDCDrawer">
      <div class="mdc-drawer__content">
        <nav class="mdc-list">
          <a class="mdc-list-item mdc-list-item--activated"id="projHome"  href="{{url_for('projectSplash', current_user=current_user, projectName= proj['name'] )}}" aria-selected="true">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
            <span class="mdc-list-item__text">Project Home</span>
          </a>
          <a class="mdc-list-item" id="disc" href="{{url_for('talkBox', current_user=current_user, projectName= proj['name'] )}}">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">forum</i>
            <span class="mdc-list-item__text">Discussion board</span>
          </a>
          <a class="mdc-list-item" id="currSprint" href="{{url_for('projectCurrentSprint', current_user=current_user, projectName= proj['name'] )}}">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">label_important</i>
            <span class="mdc-list-item__text">Current Sprint</span>
          </a>
          <a class="mdc-list-item" id="sprints" href="{{url_for('projectSprints', current_user=current_user, projectName= proj['name'] )}}">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
            <span class="mdc-list-item__text">Sprints</span>
          </a>
            <a class="mdc-list-item" id="backl" href="{{url_for('projectBackLog', current_user=current_user, projectName= proj['name'] )}}">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">launch</i>
              <span class="mdc-list-item__text">BackLog</span>
            </a>
            <a class="mdc-list-item" id="sand" href="{{url_for('projectSandBox', current_user=current_user, projectName= proj['name'] )}}">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">extension</i>
              <span class="mdc-list-item__text">SandBox</span>
            </a>
            <a class="mdc-list-item" id="sand" href="{{url_for('projectIssues', current_user=current_user, projectName= proj['name'] )}}">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bug_report</i>
              <span class="mdc-list-item__text">Issues</span>
            </a>
            <a class="mdc-list-item" id="burnupchart" href="{{url_for('projectBurnupChart', current_user=current_user, projectName= proj['name'] )}}">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assessment</i>
              <span class="mdc-list-item__text">Burnup Report</span>
            </a>
            <a class="mdc-list-item" id="sand" href="{{url_for('modifyAccount', current_user=current_user, projectName= proj['name'] )}}">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">persons</i>
              <span class="mdc-list-item__text">Account Settings</span>
            </a>
        </nav>
      </div>
    </aside>

    <!-- necessary for modal drawer -->
    <div class="mdc-drawer-scrim"></div>


    <!--  -->
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
          <span class="mdc-top-app-bar__title">{{proj['name']}}</span>
        </section>
      </div>
    </header>
    <div class="mdc-top-app-bar--fixed-adjust"><div>


        </div></div>
      <div id='content'>
        {% block body %}
        {% endblock %}
      </div>


    <!-- notice the data-mdc-auto-init attribute;  this value is used by the autoinit script -->


    <!-- Latest compiled JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <!-- <script src="script.js"></script> -->

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <script type="text/javascript">
    // wait til the document is ready
    $(document).ready(function () {
      // initializes all elements with the data-mdc-auto-init attribute
      window.mdc.autoInit();
      // creating a var reference just to save code later
      var drawer = $("aside")[0].MDCDrawer;
      // when menu icon is click, toggle drawer open property
      $(".mdc-top-app-bar__navigation-icon").on("click", function(){
        drawer.open = !drawer.open;
      });
      // could/should/would add an event handler for the drawer items;  click should close the drawer
    });
    </script>



  </body>
</html>
