<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Your Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet"
	href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

<!-- STYLE CSS -->
<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div class="wrapper"
		style="background-image: url('images/dashboard.jpg');">
		<div class="inner">
			<form>
				<h3>Project Dashboard</h3>

					<input type = "button" class="btn" onClick = "???" value = "Projects"/>

					<br><br>

						<input type = "button" class="btn" onClick = "???" value = "Tasks"/>

					<br><br>

						<input type = "button" class="btn" onClick = "???" value = "Defects"/>

					<br><br>

						<input type = "button" class="btn" onClick = "???" value = "View Reports"/>

			</form>
		</div>
	</div>

</body>
</html>
