{% extends "baseTemp.html" %}
{% block body %}
<body>

  <!-- notice the data-mdc-auto-init attribute;  this value is used by the autoinit script -->
      <aside class="mdc-drawer mdc-drawer--modal" data-mdc-auto-init="MDCDrawer">
      <div class="mdc-drawer__content">
        <nav class="mdc-list">

          <span class="open-slide">
            <a href="#" onclick="openSlideMenu()">
              <svg width="30" height="30">
                <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
                <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
                <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
            </svg>
          </a>
        </span>

            <li><a href="#">Task Management</a></li>
            <li><a href="#">Current Sprint</a></li>
            <li><a href="#">Product Backlog</a></li>
            <li><a href="#">Discussion Board</a></li>
            <li><a href="#">Account Settings</a></li>


        </nav>
      </div>
    </aside>

    <!-- necessary for modal drawer -->
    <div class="mdc-drawer-scrim"></div>


          <center><h1><span class="mdc-top-app-bar__title">Your Project</span></h1></center>



      <div id='content'></div>


    <!-- notice the data-mdc-auto-init attribute;  this value is used by the autoinit script -->


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js"></script>


    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>


    <script type="text/javascript">
    // wait til the document is ready
    $(document).ready(function () {
      // initializes all elements with the data-mdc-auto-init attribute
      window.mdc.autoInit();
      // creating a var reference just to save code later
      var drawer = $("aside")[0].MDCDrawer;
      // when menu icon is click, toggle drawer open property
      $(".mdc-top-app-bar__navigation-icon").on("click", function(){
        drawer.open = !drawer.open;
      });
      // could/should/would add an event handler for the drawer items;  click should close the drawer

          $('#draft').click(function(){

        $("#content").load("createTask.html");
           drawer.open = !drawer.open;
          });
      $('#inbox').click(function(){

        $("#content").load("accountSettings.html");
       drawer.open = !drawer.open;
      });
        $('#3rd').click(function(){

        $("#content").load("discussionBoard.html");
       drawer.open = !drawer.open;
      });
    })

    </script>
</body>
{% endblock %}
