<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>FireScrum Sign-up Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body><center>

		<div class="wrapper" style="background-image: url('images/signup.jpg');">
			<div class="inner1">
				<form action="signup" method="post">
					<h3>FireScrum Sign-up Form</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="">First Name</label>
							<input type="text" class="form-control" name="fname">
						</div><br>
						<div class="form-wrapper">
							<label for="">Last Name</label>
							<input type="text" class="form-control" name="lname">
						</div><br>
					</div>
					<div class="form-wrapper">
						<label for="">Email</label>
						<input type="text" class="form-control" name="email">
					</div><br>
					<div class="form-wrapper">
						<label for="">Username</label>
						<input type="text" class="form-control" name="username">
					</div><br>
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" class="form-control" name="paswd">
					</div><br>
					<div class="form-wrapper">
						<label for="">Confirm Password</label>
						<input type="password" class="form-control">
					</div><br>

					<button>Sign-up</button>
				</form>
			</div>
		</div>

	</center></body>


  <script src="../static/js/script.js"></script>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
</body>

</html>
