<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>FireScrum Sign-up Form</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>



<body><center>
  <div class="formcontrols">
    <form action="signup" method="post">
      <h3>Sign-up Form</h3>
      <div class="form-group">
        <div class="input justify-center spc">
          <label for="">First Name </label>
            {{form.nameF}}
        </div>
        <div class="input justify-center">
            <label for="">Last Name </label>
            {{form.nameL}}
        </div>
        <div class="input justify-center">
            <label for="">Email </label>
            {{form.email}}
        </div>
        <div class="input justify-center">
            <label for="">Username </label>
            {{form.username}}
        </div>
        <div class="input justify-center">
            <label for="">Password </label>
            {{form.password}}
        </div>
        <div class="input justify-center">
            <label for="">Confirm Password </label>
            {{form.password}}
        </div>

				<button type="reset" value="reset">Reset</button>
			</br>
        <button class="w3-xxlarge">Sign-Up</button>

				<p> By continuing, I confirm that I have read and I understand
					the Terms of Service and Privacy Policy. </p>
    </form></center>
  </div>

  <script src="../static/js/script.js"></script>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
</body>

</html>
